<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<h1> <%= @article.title %> </h1>
<%= link_to "Back to the list of articles", articles_path %>
<div id= "content">
  <h3> <%= @article.content %> </h3>
</div>
<div>
<%= link_to "Edit Article", edit_article_path %>
